
<h2 class="form-head">{{action}} d'un terrain</h2>
<form id="formTerrain" name="formTerrain">
    <div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="nom" name="nom" value="{{terrain.nom}}">
		    </div>
		</div>
	</div> 
    <button class="submit">Enregistrer</button>
</form>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formTerrain");
		form.addEventListener('submit', function(ev) {
			$('.lds-ripple').css('display', 'block');
			$.ajax({
		        url:"{{url}}",
		        type:"POST",
		        data:$('#formTerrain').serialize(),
		        success:function(response) {
		        	$('#formTerrain')[0].reset();
		        	$('.lds-ripple').css('display', 'none');
		        	$(".success-checkmark").show().delay(3000).fadeOut();
                	$(".check-icon").show().show().delay(3000).fadeOut();
                	demo.showNotification.success("Enregistrement effectué avec success");
                	location.reload(true);
		        },
		        error:function(){
		        	demo.showNotification.error("echec enregistrement");
		        	$('.lds-ripple').css('display', 'none');
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});
</script>