
<h2 class="form-head">{{action}} d'un tournoi</h2>
<form id="formTournoi" name="formTournoi">
    <div class="row">
    	<div class="col-md-12">
		    <div class="form-group">
		    	<label>Type de tournoi</label>
		    	<select class="form-control" name="typeTournoi">
		    		<option disabled="disabled" value="" selected>--Selectionner type de tournoi--</option>
		    		{% for item in typeTournois %}
		    			<option value="{{item.id}}">{{item.nom}}</option>
		    		{% endfor %}
		    	</select>
		    </div>
		</div>
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Nom</label>
		        <input type="text" name="nom" class="form-control" placeholder="nom" value="">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Nombre de joueurs</label>
		        <input type="number" name="nbrJoueur" class="form-control" min="0" placeholder="nombre de joueurs" value="">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Nombre de joueur par equipe</label>
		        <input type="number" name="nbrJoueurEquipe" class="form-control" min="0"  placeholder="nombre de joueurs par equipe" value="">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Nombre de terrain</label>
		        <input type="number" name="nbrTerrain" class="form-control" min="0" placeholder="nombre terrain" value="">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Durée du tournoi en minute</label>
		        <input type="number" name="duree" class="form-control" min="0" placeholder="durrée en minute" value="">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Logo compagnie</label>
		        <input type="file" name="logo" class="form-control" value="" accept="image/png, image/jpeg">
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		    	<label>Fichier de joueurs <small>xls</small></label>
		        <input type="file" name="fichier_joueurs" class="form-control" value="" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
		    </div>
		</div>
	</div>
    <button class="submit">Enregistrer</button>
</form>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formTournoi");
		function validate(){
	        try{
	            var validator = $('#formTournoi').validate({
	                rules:{
	                    'typeTournoi':{
	                    	required:true
	                    },
	                    'nom':{
	                    	required:true
	                    },
	                    'nbrJoueur':{
	                    	required:true,
	                    	number: true
	                    },
	                    'nbrJoueurEquipe':{
	                    	required:true,
	                    	number: true
	                    },
	                    'nbrTerrain':{
	                    	required:true,
	                    	number: true
	                    },
	                    'duree':{
	                    	required:true,
	                    	number: true
	                    },
	                }
	            });
	            
	            var $validated = $('#formTournoi').valid();
	            return $validated;
	        }catch(error){
	            console.log(error)
	        }
	    }
		form.addEventListener('submit', function(ev) {
			if( !validate()){
				demo.showNotification.error("Veuillez remplir correctement les champs");
		        ev.preventDefault();
		        return false;
		    }
			$('.lds-ripple').css('display', 'block');
			$.ajax({
		        url:"{{url}}",
		        type:"POST",
		        data: new FormData(this),
	            dataType: 'json',
	            contentType: false,
	            cache: false,
	            processData:false,
		        //data:$('#formTournoi').serialize(),
		        success:function(response) {
		        	$('#formTournoi')[0].reset();
		        	$('.lds-ripple').css('display', 'none');
		        	$(".success-checkmark").show().delay(3000).fadeOut();
                	$(".check-icon").show().show().delay(3000).fadeOut();
                	demo.showNotification.success("Enregistrement effectué avec success");
                	response = JSON.parse(response);
                	window.location.href = response.url;
		        },
		        error:function(){
		        	demo.showNotification.error("echec enregistrement");
		        	$('.lds-ripple').css('display', 'none');
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});
</script>