
<h2 class="form-head">Ajout d'un type de tournois</h2>
<form id="formTypeTournoi" name="formTypeTournoi">
    <div class="row">
		<div class="col-md-12">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="nom" value="">
		    </div>
		</div>
	</div>
    <button class="submit">Enregistrer</button>
</form>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formTypeTournoi");
		form.addEventListener('submit', function(ev) {
			$.ajax({
		        url:$('body').data('base-url')+"admin/type-tournoi/add/5",
		        type:"POST",
		        data:$('#formTypeTournoi').serialize(),
		        success:function(response) {

		        	$('#formTypeTournoi')[0].reset();
		        },
		        error:function(){
		        	alert("error");
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});

	/*var form = document.forms.namedItem("formTypeTournoi");
	form.addEventListener('submit', function(ev) {
	    oData = new FormData(form);
	    var oReq = new XMLHttpRequest();
	    oReq.open("POST", $('body').data('base-url')+"admin/type-tournoi/add/5", true);
	    oReq.onload = function(oEvent) {
	        if (oReq.status == 200) {
	        	alert("goo");

	        } else {
	            toastr.error(oReq.response);
	        }
	    };
	    oReq.send(oData); 		
		ev.preventDefault();
	}, false);*/
</script>