
<h2 class="form-head">Ajout d'un tournoi</h2>
<form id="formTournoi" name="formTournoi">
    <div class="row">
     	<div class="col-sm-6 form-control">
     		<input type="text" name="tata">
     	</div>
     	<div class="col-sm-6 form-control">
     		<input type="text" name="toto">
     	</div>
    </div> 
    <button class="submit">Enregistrer</button>
</form>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formTournoi");
		form.addEventListener('submit', function(ev) {
			$.ajax({
		        url:$('body').data('base-url')+"admin/tournoi/add/5",
		        type:"POST",
		        data:$('#formTournoi').serialize(),
		        success:function(response) {
		        	$('#formTournoi')[0].reset();
		        },
		        error:function(){
		        	alert("error");
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});
</script>