
<h2 class="form-head">Ajout d'une equipeee</h2>
<form id="formEquipe" name="formEquipe">
    <div class="form-group">
	    <input type="email" class="form-control" id="email" placeholder="nom">
	</div>
	<div class="form-group">
	    <input type="email" class="form-control" id="email" placeholder="joueurs">
	</div>

    <button class="submit">Enregistrer</button>
</form>
<script type="text/javascript">

	$(document).ready(function(){
		var form = document.forms.namedItem("formEquipe");
		form.addEventListener('submit', function(ev) {
			$.ajax({
		        url:$('body').data('base-url')+"admin/equipe/add/5",
		        type:"POST",
		        data:$('#formEquipe').serialize(),
		        success:function(response) {

		        	$('#formEquipe')[0].reset();
		        },
		        error:function(){
		        	alert("error");
			    }
		   	});
				
			ev.preventDefault();
		}, false);
	});
</script>