<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body{
			height: calc( 100vh + 50px);
		}
	</style>
	<script> (function() { var callback = function(){ MYCHATLIBRARY.init({ref:'7bb1krx6p1i1b6u17a99'});MYCHATLIBRARY.load_chat(); }; var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true; lc.src = ('https:' == document.location.protocol ? 'http://' : 'http://') + '51.77.230.240/cameroun/equation/chatbot/chatbot.js'; var s = document.getElementsByTagName('script')[0]; lc.onload = callback; s.parentNode.insertBefore(lc, s); })(); </script>
</head>
<body>

</body>
</html>