
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Resultat {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/finale.css')}}" rel="stylesheet" />
    <style type="text/css"></style>
{% endblock %}

{% block page %}   
    <h1 class="page-title-finale">FINALE</h1>
    <div class="terrain-wrapper">
        <span class="terrain-name">TARRAIN 1</span>
    </div>
    <div class="cols-list finale">
        <div class="cols-item">
            <h3 class="item-title">EQUIPE  A</h3>
            <div class="list-elt-container">
                <ul class="list-elt">
                    <li class="item-elt">Matine</li>
                    <li class="item-elt">Alin</li>
                    <li class="item-elt">Elodie</li>
                    <li class="item-elt">Patrice</li>
                    <li class="item-elt">Patrice</li>
                </ul>
            </div>
            <div class="sub-col-foot">
                <span class="score">2</span>
            </div>  
        </div>
        <div class="cols-item">
            <h3 class="item-title">EQUIPE  e</h3>
            <div class="list-elt-container">
                <ul class="list-elt">
                    <li class="item-elt">Matine</li>
                    <li class="item-elt">Alin</li>
                    <li class="item-elt">Elodie</li>
                    <li class="item-elt">Patrice</li>
                    <li class="item-elt">Patrice</li>
                </ul>
            </div>
            <div class="sub-col-foot">
                <span class="score winner">5</span>
            </div>  
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

