
{% extends 'website/layout.html.twig' %}
{% block title %} {{parent()}} - Accueil {% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('assets/css/website/home.css')}}" rel="stylesheet" />
    <style type="text/css"></style>
{% endblock %}

{% block page %}        
    <!-- Start Homepage -->
    <div class="cols-list">
        <div class="cols-item">
            <h2 class="col-title">TERRAIN <span class="num">1</span></h2>
            <div class="sub-col-list">
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  A</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score winner">2</span>
                    </div>  
                </div>
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  b</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score">1</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cols-item">
            <h2 class="col-title">TERRAIN <span class="num">2</span></h2>
            <div class="sub-col-list">
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  c</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                        <li class="item-elt">Patrice</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score winner">5</span>
                    </div>  
                </div>
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  d</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cols-item">
            <h2 class="col-title">TERRAIN <span class="num">3</span></h2>
            <div class="sub-col-list">
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  e</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score">2</span>
                    </div>  
                </div>
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  f</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score">2</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cols-item">
            <h2 class="col-title">TERRAIN <span class="num">4</span></h2>
            <div class="sub-col-list">
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  g</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score">1</span>
                    </div>  
                </div>
                <div class="list-item">
                    <h3 class="sub-title">EQUIPE  h</h3>
                    <ul class="list-elt">
                        <li class="item-elt">Matine</li>
                        <li class="item-elt">Alin</li>
                        <li class="item-elt">Elodie</li>
                        <li class="item-elt">Patrice</li>
                    </ul>
                    <div class="sub-col-foot">
                        <span class="score winner">3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Homepage -->
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        /*var chrono ="00:00:00";
        var storageDate = {};
        function initCrono(){
            if(localStorage.getItem("2")){
                storageDate = JSON.parse(localStorage.getItem("2"));
                var date_debut = storageDate.date_debut;
                var diffDate = new Date(new Date() - new Date(date_debut));
                chrono = (diffDate.getHours()-1) + ":"  
                    + diffDate.getMinutes() + ":" 
                    + diffDate.getSeconds();
            }
            else{
                var dataInfo = {tournoi:"2", date_debut: "2020-03-02 13:30", date_fin: "2020-03-02 22:30"};
                localStorage.setItem("2", JSON.stringify(dataInfo));  
            }
        }
        initCrono();
        console.log(chrono);

        if(new Date() < new Date(storageDate.date_fin)){
            console.log('expiré');
            localStorage.removeItem("2");
        }*/
    </script>
{% endblock %}

